<!-- About us -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <h2 class="section-heading text-uppercase text-center">About Us</h2>
        <p>Here at AceAutos we aim to provide the best service possible to our customers, we have a large range of automobiles that ensures you will find the perfect one suited for you!</p>
        <p>.</p>
        <p>.</p>
      </div>
      <div class="col-lg-6 mb-4">

        <p></p><a href="contact" class="bg-dark pl-2 pr-2 js-scroll-trigger">Contact Us.</a> <i class="far fa-smile fa-2x ml-1"></i>
      </div>
    </div>
  </div>
</section>
