<nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/cars">Cars</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li ><a routerLink="/table">Car Table</a></li>

    <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
    <li *ngIf="isLoggedIn && isAdmin"><a routerLink="/login">Admin</a></li>
    <li *ngIf="isLoggedIn && isAdmin "><a routerLink="/user">User</a></li>
    <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
  </ul>
</nav>
<header>
  <img class="dodge" src="assets/2018 dodge challenger.jpg">
  <img class="ace" src="assets/aceautos.png">
  <h2>Ace Autos - Car Portal</h2>
</header>



<section>
  <router-outlet></router-outlet>
</section>

<footer>
  <button id="button">Help</button>
</footer>
