@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-image: url('src/assets/2018 dodge challenger.jpg');
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  background-size: 500px;
  background-position: center;
  padding: 20px;
  margin-top: 0px;
  text-align: left;
  font-size: 28px;
  color: black;
  font-family: 'Fugaz One', cursive;
}


/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
  font-family: 'Fugaz One', cursive;
}

/* Style the list inside the menu */
nav ul {
  color: black;
  list-style-type: none;
  font-family: 'Fugaz One', cursive;
}

nav ul li {
  font-size: 20px;
  padding-bottom: 10px;
  font-family: 'Fugaz One', cursive;

}

nav ul li a {
  color: black;
  text-decoration: none;
  font-family: 'Fugaz One';
}

nav ul li a:hover {
  background-color: white;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: white;
  height: 300px; /* only for demonstration, should be removed */
}

.head{
  text-align: center;
  font-size: 30px;
  font-family: 'Fugaz One', cursive;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}
p{
  text-align: center;
  font-family: 'Times New Roman', cursive;
  font-size: 25px;
  margin: 25px;
}

/* Style the footer */
footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
  font-family: 'Fugaz One', cursive;
}

#button {
  background: white;
  color: black;
  height: 50px;
  font-size: 1.4em;
  padding: 0 1em;
  cursor: pointer;
  font-family: 'Fugaz One', cursive;
  font-weight: 900;
}
form {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  padding-top: 10px;
  text-align: center;
  margin-left: 445px;
}

.heading {
  margin-left: 445px;
  margin-top: 5%;
  text-align: center;
}


button {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
  background: white;
  color: black;
  height: 40px;
  font-size: 1.4em;
  padding: 0 1em;
  cursor: pointer;
}



/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
