<article style="text-align: center">
  <h1 class="head">Everything you need to know about Ace Autos</h1>
  <p>Start your day today selling the car that your garage no longer wants to store or make a move buying a used car that
    you cant afford to buy from the showroom!!!!.</p>
  <p>We give you a wide range of options to make a better choice of the wheel you would enjoy driving in your
    everyday life.</p>
  <div class="heading">
  <h4>You must first login to make the deal..</h4>
  </div>
  <form action="/cars">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value=""><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password" value=""><br><br>
    <a href="">Forget Password?</a><br><br>
    <button>Login</button>
  </form>
</article>
