
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ace Autos</title>
</head>
<body>
<header>
  <img src="favicon.ico" title="no image">
  <h2>Ace Autos - Car Portal</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Cars</a></li>
    </ul>
  </nav>

  <article>
    <h1>What Ace Autos is about</h1>
    <p>Start your day today selling the car that your garage no longer wants to store or make a move buying a used car that
       you cant afford to buy from the showroom!!!!.</p>
    <p>We give you a wide range of options to make a better choice of the wheel you would enjoy driving in your
       everyday life.</p>
  </article>
</section>

<footer>
  <p>Footer</p>
</footer>
</body>
</html>


