<article style="text-align: center">
  <h1 class="head">Welcome to Ace Autos!</h1>
  <h2 class="head">Everything you need to know about Ace Autos</h2>
  <p>Start your day today selling the car that your garage no longer wants to store or make a move and buy a used car that
    you cant afford to buy from the showroom!!!!.</p>
  <p>We give you a wide range of options to make a better choice of the wheel you would enjoy driving in your
    everyday life. They're affordable and they'll help you out in any way </p>
  <p>Want to impress that special someone in your life, make the neighbours jealous or just have a simple vehicle for you and family to enjoy...</p>
  <p>Look no further... Whatever you need... We got it!</p>

</article>
