<!-- Register -->
<section class="pb-0" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">AceAutos Contact Page</h2>
      </div>
      <div class="col-lg-12 mb-5">
        <form id="contactForm" name="sentMessage" novalidate="novalidate">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" id="name" type="text" placeholder="Name *" required="required" data-validation-required-message="Required">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="surname" type="text" placeholder="Surname *" required="required" data-validation-required-message="Required">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="email" type="email" placeholder="Mail *" required="required" data-validation-required-message="Required">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input class="form-control" id="phone" type="tel" placeholder="Phone *" required="required" data-validation-required-message="Required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" id="message" placeholder="Message *" required="required" data-validation-required-message="Required"></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button id="sendMessageButton" class="btn btn-primary rounded-0 btn-xl text-uppercase" type="submit">SEND</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h2 class="section-heading text-uppercase">Where You Can Find Us</h2>
      <div class="col-lg-12 maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2260.563738484516!2d8.44472211592027!3d55.48770118048331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464b20de0dc1b019%3A0xf131cc5b28fe1f27!2sErhvervsakademi%20SydVest!5e0!3m2!1sen!2sdk!4v1608045314055!5m2!1sen!2sdk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>      </div>
    </div>
  </div>
</section>
<!-- Register End -->
