<!-- Meet The Team -->

<section class="bg-light" id="team-academic">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="">
          <h4>Abdiqafar Abas</h4>
          <p class="text-muted">bla bla bla bla</p>
          <p class="text-muted"><i class="fa fa-pen d-inline"></i> <em>bla bla bla</em></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="">
          <h4>A Zoy Chaudhary</h4>
          <p class="text-muted">bla bla bla bla</p>
          <p class="text-muted"><i class="fa fa-pen d-inline"></i> <em>bla bla bla</em></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="">
          <h4>Christian Hansen</h4>
          <p class="text-muted">bla bla bla bla</p>
          <p class="text-muted"><i class="fa fa-pen d-inline"></i> <em>bla bla bla</em></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="">
          <h4>Nebojša Gutić</h4>
          <p class="text-muted">bla bla bla bla</p>
          <p class="text-muted"><i class="fa fa-pen d-inline"></i> <em>bla bla bla</em></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="">
          <h4>Tienesh Kanagarajsen</h4>
          <p class="text-muted">bla bla bla bla</p>
          <p class="text-muted"><i class="fa fa-pen d-inline"></i> <em>bla bla bla</em></p>
        </div>
      </div>
    </div>
  </div>
</section>
